*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  background: none;
  overflow-x: hidden; 
}
.message {
  margin-top: 10px;
  color: red; /* red for errors */
  font-weight: bold;
  text-align: center;
}
